{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "rules":{
    "prettier/prettier": "error"
  }
}
